services:
  # --- AGENT (LAPI + Parser) ---
  agent:
    image: crowdsecurity/crowdsec:latest
    container_name: crowdsec
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: {{ crowdsec_memory_limit }}
    environment:
      GID: "1000"
      COLLECTIONS: "{{ crowdsec_collections | join(' ') }}"
      
      # Socket Proxy Config
{% if crowdsec_use_socket_proxy %}
      DOCKER_HOST: "tcp://socket-proxy:2375"
{% endif %}
    volumes:
      - ./acquis.yaml:/etc/crowdsec/acquis.yaml
      - ./config:/etc/crowdsec
      - ./data:/var/lib/crowdsec/data
      # Системные логи (SSH) читаем файлами (RO)
      - /var/log/auth.log:/var/log/auth.log:ro
      - /var/log/syslog:/var/log/syslog:ro
{% if not crowdsec_use_socket_proxy %}
      # Если прокси нет, читаем Docker сокет напрямую
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
{% endif %}
    ports:
      # Открываем LAPI на localhost:8080 для хостового баунсера
      - "127.0.0.1:8080:8080"
    networks:
      - {{ docker_network_name }}
{% if crowdsec_use_socket_proxy %}
      - socket_proxy
{% endif %}
    security_opt:
      - no-new-privileges=true
    
    healthcheck:
      test: ["CMD", "cscli", "metrics"]
      interval: {{ crowdsec_hc_interval }}
      timeout: {{ crowdsec_hc_timeout }}
      retries: {{ crowdsec_hc_retries }}
      start_period: {{ crowdsec_hc_start_period }}

    labels:
      autoheal: "true"

networks:
  {{ docker_network_name }}:
    external: true
{% if crowdsec_use_socket_proxy %}
  socket_proxy:
    external: true
{% endif %}
