---
# [ Service Identity ]
caddy_service_name: "caddy"
caddy_container_name: "{{ caddy_service_name }}"

# [ Paths & Directories ]
caddy_compose_dir: "{{ docker_base_dir }}/{{ caddy_service_name }}"
caddy_config_dir: "{{ caddy_compose_dir }}/config"
caddy_data_dir: "{{ caddy_compose_dir }}/data"

# [ Network & Ports ]
caddy_docker_network: "{{ docker_network_name }}"
caddy_port_http: 80
caddy_port_https: 443
caddy_port_admin: 2019

# [ Configuration ]
caddy_acme_email: "{{ admin_email | default('admin@example.com') }}"
caddy_restart_policy: "{{ docker_restart_policy | default('unless-stopped') }}"
caddy_timezone: "{{ docker_timezone | default('UTC') }}"

# [ Resources ]
caddy_memory_limit: "{{ docker_memory_limit | default('256M') }}"

# [ Build Versions ]
caddy_version: "2.8.4" # Fix stable version
caddy_docker_proxy_version: "v2.9.1"

# [ Healthcheck Strategy ]
caddy_hc_enabled: true
caddy_hc_interval: "{{ docker_hc_interval | default('30s') }}"
caddy_hc_timeout: "{{ docker_hc_timeout | default('5s') }}"
caddy_hc_retries: "{{ docker_hc_retries | default(3) }}"
caddy_hc_start_period: "{{ docker_hc_start_period | default('10s') }}"

# [ Socket Proxy Integration ]
caddy_use_socket_proxy: "{{ use_socket_proxy | default(false) }}"
caddy_docker_host: >-
  {{ 'tcp://docker-socket-proxy:2375'
     if caddy_use_socket_proxy
     else 'unix:///var/run/docker.sock' }}
