services:
  worker:
    # Используем собранный нами локальный образ
    image: "{{ restic_image }}:latest"
    container_name: "{{ restic_container_name }}"
    hostname: "{{ ansible_hostname }}"
    # Explicitly set user to root inside container for backup permissions
    # (Restic needs read access to mounted volumes)
    user: root

    deploy:
      resources:
        limits:
          memory: {{ restic_memory_limit }}

    environment:
      - RESTIC_REPOSITORY={{ restic_repo }}
      - RESTIC_PASSWORD={{ restic_password }}
      - RCLONE_CONFIG=/root/.config/rclone/rclone.conf
      - RCLONE_DRIVE_CHUNK_SIZE=128M
      - RCLONE_TIMEOUT=10m

    volumes:
      - ./entrypoint.sh:/entrypoint.sh:ro
      - "{{ restic_config_dir }}:/root/.config/rclone:ro" # Read-only config
{% for mount in restic_mounts %}
      - {{ mount.src }}:{{ mount.dst }}:ro # Read-only backups!
{% endfor %}

    entrypoint: ["/bin/sh", "/entrypoint.sh"]
    restart: "no"
