[Unit]
Description=Daily Restic Backup
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory={{ restic_compose_dir }}
TimeoutStartSec=10800
MemoryMax=1G
ExecStartPre=-/usr/bin/docker stop {{ restic_stop_service }}
ExecStart=/usr/bin/docker start -a {{ restic_service_name }}
ExecStopPost=/usr/bin/docker start {{ restic_stop_service }}

[Install]
WantedBy=multi-user.target
