---
- name: Ensure Hugo directories exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
    owner: "{{ deploy_user }}"
    group: "{{ deploy_user }}"
  loop:
    - "{{ hugo_base_dir }}"
    - "{{ hugo_site_dir }}"
    - "{{ hugo_public_dir }}"

- name: Fix permissions for Site Directory (Pre-Clone)
  ansible.builtin.file:
    path: "{{ hugo_site_dir }}"
    state: directory
    owner: "{{ deploy_user }}"
    group: "{{ deploy_user }}"
    mode: '0755'
    recurse: true

- name: Clone Hugo Repository
  ansible.builtin.git:
    repo: "{{ hugo_repo }}"
    dest: "{{ hugo_site_dir }}"
    version: "{{ hugo_repo_version }}"
    force: true
    update: true
    recursive: true
  become: true
  become_user: "{{ deploy_user }}"

- name: Ensure theme submodules are updated (Safety net)
  ansible.builtin.git:
    repo: "{{ hugo_repo }}"
    dest: "{{ hugo_site_dir }}"
    version: "{{ hugo_repo_version }}"
    recursive: true
    update: true
    force: false
  become: true
  become_user: "{{ deploy_user }}"
  register: hugo_git_submodules
  failed_when: false
  changed_when: hugo_git_submodules.changed

- name: Render docker-compose.yml
  ansible.builtin.template:
    src: docker-compose.yml.j2
    dest: "{{ hugo_base_dir }}/docker-compose.yml"
    mode: "0640"
    owner: "{{ deploy_user }}"
    group: docker

- name: Deploy Hugo Stack
  block:
    - name: Start Hugo (Builder + Nginx)
      community.docker.docker_compose_v2:
        project_src: "{{ hugo_base_dir }}"
        state: present
        pull: always
        remove_orphans: true
      become: true
      become_user: "{{ deploy_user }}"

  rescue:
    - name: Check if builder exited successfully (Exit Code 0 is OK)
      ansible.builtin.debug:
        msg: "Builder container exited. This is normal for Hugo if ExitCode is 0."

    - name: Fix permissions AFTER build (For Nginx)
      ansible.builtin.file:
        path: "{{ hugo_public_dir }}"
        state: directory
        mode: '0755'
        recurse: true
      become: true

    - name: Verify Nginx is running
      ansible.builtin.command: "docker ps -f name={{ hugo_service_name }} -f status=running --format '{{ '{{' }}.Status{{ '}}' }}'"
      register: hugo_nginx_status
      # Команда проверки статуса ничего не меняет
      changed_when: false
      failed_when: hugo_nginx_status.stdout == ""

    - name: Success message
      ansible.builtin.debug:
        msg: "Hugo site deployed successfully via Nginx!"
