---
crowdsec_service_name: "crowdsec"
crowdsec_base_dir: "{{ docker_base_dir }}/{{ crowdsec_service_name }}"

# Коллекции защиты
crowdsec_collections:
  - crowdsec/linux
  - crowdsec/sshd
  - crowdsec/caddy
  - crowdsec/http-cve

# Белые списки (чтобы не забанить себя)
crowdsec_whitelists:
  - "127.0.0.1"
  - "::1"

# Ресурсы агента
crowdsec_memory_limit: "{{ docker_memory_limit | default('512M') }}"

# Socket Proxy (интеграция)
crowdsec_use_socket_proxy: "{{ use_socket_proxy | default(false) }}"

# Healthcheck
crowdsec_hc_interval: "60s"
crowdsec_hc_timeout: "30s"
crowdsec_hc_retries: 3
crowdsec_hc_start_period: "120s"
