# roles/tuwunel/tasks/main.yml
---
- name: Prepare LDAP files list
  ansible.builtin.set_fact:
    tuwunel_files:
      - dest: "{{ tuwunel_compose_dir }}/.ldap_bind_password"
        content: "{{ tuwunel_ldap_bind_password }}"
        mode: '0600'
  when: tuwunel_ldap_enabled | default(false)

- name: Prepare LiveKit ports list
  ansible.builtin.set_fact:
    tuwunel_ports:
      - { port: "8448", proto: "tcp", comment: "Matrix Federation" }
      - { port: "{{ tuwunel_livekit_tcp_port }}", proto: "tcp", comment: "LiveKit TCP" }
      - { port: "{{ tuwunel_livekit_udp_start }}:{{ tuwunel_livekit_udp_end }}", proto: "udp", comment: "LiveKit WebRTC" }
  when: tuwunel_livekit_enabled | default(false)

- name: Deploy Tuwunel
  ansible.builtin.include_role:
    name: common
    tasks_from: docker_service
  vars:
    common_docker_service_name: "{{ tuwunel_service_name }}"
    common_docker_service_dir: "{{ tuwunel_compose_dir }}"
    common_docker_service_data_dirs:
      - "{{ tuwunel_config_dir }}/well-known"
    # Передаем подготовленные списки (или пустые, если условие не сработало)
    common_docker_service_files: "{{ tuwunel_files | default([]) }}"
    common_docker_service_ports: "{{ tuwunel_ports | default([]) }}"
    common_docker_service_templates:
      - src: tuwunel.toml.j2
        dest: "{{ tuwunel_config_dir }}/tuwunel.toml"
      - src: livekit.yaml.j2
        dest: "{{ tuwunel_config_dir }}/livekit.yaml"
      - src: wellknown_client.json.j2
        dest: "{{ tuwunel_config_dir }}/well-known/client"
      - src: wellknown_nginx.conf.j2
        dest: "{{ tuwunel_config_dir }}/wellknown_nginx.conf"
    common_docker_service_compose_template: "{{ playbook_dir }}/roles/tuwunel/templates/docker-compose.yml.j2"
