services:
  {{ syncthing_service_name }}:
    image: "{{ syncthing_image }}:{{ syncthing_image_tag }}"
    container_name: "{{ syncthing_container_name }}"
    restart: "{{ syncthing_restart_policy }}"
    # DISABLE DOCKER INIT (Conflict with s6-overlay)
    init: false

    deploy:
      resources:
        limits:
          memory: {{ syncthing_memory_limit }}

    environment:
      PUID: "{{ syncthing_puid }}"
      PGID: "{{ syncthing_pgid }}"
      TZ: "{{ syncthing_timezone }}"

    volumes:
      - "./config:/config"
      - "{{ syncthing_data_dir }}:/data"

    ports:
      - "{{ syncthing_tcp_port }}:{{ syncthing_tcp_port }}/tcp"
      - "{{ syncthing_udp_port }}:{{ syncthing_udp_port }}/udp"
      - "{{ syncthing_discovery_port }}:{{ syncthing_discovery_port }}/udp"

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8384/rest/noauth/health"]
      interval: {{ syncthing_hc_interval }}
      timeout: {{ syncthing_hc_timeout }}
      retries: {{ syncthing_hc_retries }}
      start_period: {{ syncthing_hc_start_period }}

    labels:
{% if syncthing_ingress_provider == 'caddy' %}
      caddy: "{{ syncthing_domain }}"
      caddy.import: "secure-headers"
      caddy.route: ""

{% if syncthing_auth_enabled %}
      caddy.route.0_forward_auth: "tinyauth:3000"
      caddy.route.0_forward_auth.uri: "/api/auth/caddy"
      caddy.route.0_forward_auth.copy_headers: "X-User X-Email X-Groups {{ syncthing_auth_header_user }} Remote-Email"
{% endif %}

      caddy.route.9_reverse_proxy: "{{ syncthing_service_name }}:{{ syncthing_web_port }}"
{% endif %}

{% if syncthing_enable_autoheal | bool %}
      autoheal: "true"
{% endif %}

    networks:
      - {{ syncthing_docker_network }}

networks:
  {{ syncthing_docker_network }}:
    external: true
