api:
  dashboard: true

ping:
  entryPoint: "traefik"

log:
  level: INFO

entryPoints:
  web:
    address: ":{{ traefik_http_port }}"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  
  websecure:
    address: ":{{ traefik_https_port }}"
    http:
      tls:
        certResolver: letsencrypt
  
  matrix-federation:
    address: ":8448"
    http:
      tls:
        certResolver: letsencrypt

providers:
  docker:
    exposedByDefault: false
    network: "{{ traefik_docker_network }}"
  file:
    filename: "/etc/traefik/dynamic_conf.yml"
    watch: true

certificatesResolvers:
  letsencrypt:
    acme:
      email: "{{ traefik_acme_email }}"
      storage: "{{ traefik_acme_storage }}"
      httpChallenge:
        entryPoint: web
{% if traefik_acme_staging == "true" %}
      caServer: "https://acme-staging-v02.api.letsencrypt.org/directory"
{% endif %}

experimental:
  plugins:
    geoblock:
      moduleName: github.com/david-garcia-garcia/traefik-geoblock
      version: v1.0.1
      settings:
        useunsafe: true
