---
autoheal_service_name: "autoheal"
autoheal_image: "willfarrell/autoheal:latest"
autoheal_compose_dir: "{{ docker_base_dir }}/autoheal"

autoheal_interval: 60
autoheal_start_period: 60
autoheal_stop_timeout: 10
autoheal_container_label: "all"
